options (skip=1)

-- Block for table: Assembly
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/Assembly.csv'
badfile 'Assembly.bad'
discardfile 'Assembly.dis'
append
into table "Assembly"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "LPNTR" CHAR(255),
  "COPY" INTEGER EXTERNAL,
  "FLAGS" INTEGER EXTERNAL,
  "NAME" CHAR(80),
  "SUBENTRY" CHAR(255),
  "SUBVERSION" CHAR(4)
)
