options (skip=1)

-- Block for table: AttributeDefinition
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/AttributeDefinition.csv'
badfile 'AttributeDefinition.bad'
discardfile 'AttributeDefinition.dis'
append
into table "AttributeDefinition"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "AttributeID" INTEGER EXTERNAL,
  "AttributeName" CHAR(80),
  "Typ" INTEGER EXTERNAL,
  "Owner" INTEGER EXTERNAL,
  "Owner2" INTEGER EXTERNAL,
  "SingleInstance" INTEGER EXTERNAL,
  "MustExist" INTEGER EXTERNAL,
  "Hidden" INTEGER EXTERNAL,
  "Format" CHAR(80),
  "PositionX" CHAR(2000),
  "PositionY" CHAR(2000),
  "Visible" INTEGER EXTERNAL,
  "Color" INTEGER EXTERNAL,
  "Ratio" INTEGER EXTERNAL,
  "Size" CHAR(2000),
  "Direction" INTEGER EXTERNAL,
  "Level" INTEGER EXTERNAL,
  "DefaultValue" CHAR(255),
  "ASSIGNED_LIST" CHAR(255),
  "UNIQUE_VALUE" INTEGER EXTERNAL,
  "Flags2" INTEGER EXTERNAL,
  "DESCRIPTION_86" CHAR(255),
  "DESCRIPTION_31" CHAR(255),
  "DESCRIPTION_44" CHAR(255),
  "DESCRIPTION_33" CHAR(255),
  "DESCRIPTION_49" CHAR(255),
  "DESCRIPTION_39" CHAR(255),
  "DESCRIPTION_81" CHAR(255),
  "DESCRIPTION_351" CHAR(255),
  "DESCRIPTION_07" CHAR(255),
  "DESCRIPTION_34" CHAR(255),
  "DESCRIPTION_90" CHAR(255),
  "DESCRIPTION_48" CHAR(255),
  "USAGE_DESCRIPTION" CHAR(50)
)
