options (skip=1)

-- Block for table: Cable
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/Cable.csv'
badfile 'Cable.bad'
discardfile 'Cable.dis'
append
into table "Cable"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "COPY" INTEGER EXTERNAL,
  "BundleID" INTEGER EXTERNAL,
  "ParentID" INTEGER EXTERNAL,
  "Name" CHAR(64),
  "NODENO" INTEGER EXTERNAL,
  "CrossSection" CHAR(2000),
  "Color" INTEGER EXTERNAL,
  "Flags" INTEGER EXTERNAL,
  "SUBENTRY" CHAR(255),
  "SUBVERSION" CHAR(4),
  "OuterDia" CHAR(2000)
)
