options (skip=1)

-- Block for table: ComponentClassification
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/ComponentClassification.csv'
badfile 'ComponentClassification.bad'
discardfile 'ComponentClassification.dis'
append
into table "ComponentClassification"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "Name" CHAR(255),
  Structure_HEX FILLER CHAR(8000000),
  "Structure" EXPRESSION "HEXTORAW(:Structure_HEX)"
)
