options (skip=1)

-- Block for table: CRIMPING_RULES
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/CRIMPING_RULES.csv'
badfile 'CRIMPING_RULES.bad'
discardfile 'CRIMPING_RULES.dis'
append
into table "CRIMPING_RULES"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "GUID" CHAR(36),
  "PHSYPIN_ENTRY" CHAR(255),
  "PHYSPIN_PIN_NUMBER" INTEGER EXTERNAL,
  "RULE_ID" INTEGER EXTERNAL,
  "DESCRIPTION" CHAR(255),
  "RULE_TYPE" INTEGER EXTERNAL
)
