options (skip=1)

-- Block for table: FUNCTIONAL_UNIT_STATES
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/FUNCTIONAL_UNIT_STATES.csv'
badfile 'FUNCTIONAL_UNIT_STATES.bad'
discardfile 'FUNCTIONAL_UNIT_STATES.dis'
append
into table "FUNCTIONAL_UNIT_STATES"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" CHAR(36),
  "NAME" CHAR(255),
  "FU_NAME" CHAR(255),
  "FU_ID" INTEGER EXTERNAL,
  "ORDER_NUM" INTEGER EXTERNAL,
  "FLAGS" INTEGER EXTERNAL
)
