options (skip=1)

-- Block for table: FUNCTIONAL_ASSIGNMENTS
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/FUNCTIONAL_ASSIGNMENTS.csv'
badfile 'FUNCTIONAL_ASSIGNMENTS.bad'
discardfile 'FUNCTIONAL_ASSIGNMENTS.dis'
append
into table "FUNCTIONAL_ASSIGNMENTS"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "VERSION" CHAR(4),
  "NAME" CHAR(255),
  "PINCOPY" INTEGER EXTERNAL,
  "FUNAME" CHAR(255),
  "FUID" INTEGER EXTERNAL,
  "FUPORT" INTEGER EXTERNAL
)
