options (skip=1)

-- Block for table: Layer
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/Layer.csv'
badfile 'Layer.bad'
discardfile 'Layer.dis'
append
into table "Layer"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "EntryID" INTEGER EXTERNAL,
  "LayerName" CHAR(20)
)
