options (skip=1)

-- Block for table: MATERIAL
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/MATERIAL.csv'
badfile 'MATERIAL.bad'
discardfile 'MATERIAL.dis'
append
into table "MATERIAL"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" INTEGER EXTERNAL,
  "NAME" CHAR(255),
  "RESISTIVITY_TEMP" CHAR(2000),
  "THERMAL_CAP" CHAR(2000),
  "GRAVITY" CHAR(2000),
  "RESISTANCE" CHAR(2000),
  "SPECIFIC_RESISTANCE" CHAR(2000)
)
