options (skip=1)

-- Block for table: ModelData
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/ModelData.csv'
badfile 'ModelData.bad'
discardfile 'ModelData.dis'
append
into table "ModelData"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" CHAR(40),
  "Entry" CHAR(255),
  "Type" INTEGER EXTERNAL,
  "Class" CHAR(80),
  "Description" CHAR(255),
  "LASTUPDT" DATE "YYYY-MM-DD HH24:MI:SS",
  "DATEMAIN" DATE "YYYY-MM-DD HH24:MI:SS",
  "*Owner" CHAR(255)
)
