options (skip=1)

-- Block for table: Outlines
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/Outlines.csv'
badfile 'Outlines.bad'
discardfile 'Outlines.dis'
append
into table "Outlines"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "Entry" CHAR(255),
  "OutlineNumber" INTEGER EXTERNAL,
  "Type" INTEGER EXTERNAL,
  "X" CHAR(2000),
  "Y" CHAR(2000),
  "Z" CHAR(2000),
  "LineY" CHAR(2000),
  "LineZ" CHAR(2000),
  "AreaZ" CHAR(2000),
  "Height" CHAR(2000),
  OutlineData_HEX FILLER CHAR(8000000),
  "OutlineData" EXPRESSION "HEXTORAW(:OutlineData_HEX)",
  "RestrictedLayer" INTEGER EXTERNAL,
  "DescriptionLevel" INTEGER EXTERNAL,
  "Flags" INTEGER EXTERNAL
)
