options (skip=1)

-- Block for table: RetainingRailTypes
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/RetainingRailTypes.csv'
badfile 'RetainingRailTypes.bad'
discardfile 'RetainingRailTypes.dis'
append
into table "RetainingRailTypes"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "Entry" CHAR(255),
  "Type" INTEGER EXTERNAL
)
