options (skip=1)

-- Block for table: Slots
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/Slots.csv'
badfile 'Slots.bad'
discardfile 'Slots.dis'
append
into table "Slots"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "Entry" CHAR(255),
  "Copy" INTEGER EXTERNAL,
  "Type" INTEGER EXTERNAL,
  "RetainingRailType" INTEGER EXTERNAL,
  "x1" CHAR(2000),
  "y1" CHAR(2000),
  "z1" CHAR(2000),
  "x2" CHAR(2000),
  "y2" CHAR(2000),
  "z2" CHAR(2000),
  "Width" CHAR(2000)
)
