options (skip=1)

-- Block for table: Supply
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/Supply.csv'
badfile 'Supply.bad'
discardfile 'Supply.dis'
append
into table "Supply"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(20),
  "Potentialnummer" INTEGER EXTERNAL,
  "Potentialname" CHAR(20)
)
