options (skip=1)

-- Block for table: SymbolPoints
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/SymbolPoints.csv'
badfile 'SymbolPoints.bad'
discardfile 'SymbolPoints.dis'
append
into table "SymbolPoints"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "COPY" INTEGER EXTERNAL,
  "FLAGS" INTEGER EXTERNAL,
  "POSX" CHAR(2000),
  "POSY" CHAR(2000)
)
