options (skip=1)

-- Block for table: ATTRIBUTE_LISTS
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/ATTRIBUTE_LISTS.csv'
badfile 'ATTRIBUTE_LISTS.bad'
discardfile 'ATTRIBUTE_LISTS.dis'
append
into table "ATTRIBUTE_LISTS"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" INTEGER EXTERNAL,
  "ASSIGNED_LIST" CHAR(255),
  "READ_ONLY" INTEGER EXTERNAL,
  "LOWER" CHAR(2000),
  "UPPER" CHAR(2000)
)
