options (skip=1)

-- Block for table: COMPONENT_STATES
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/COMPONENT_STATES.csv'
badfile 'COMPONENT_STATES.bad'
discardfile 'COMPONENT_STATES.dis'
append
into table "COMPONENT_STATES"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" CHAR(36),
  "NAME" CHAR(255),
  "COMP_ID" CHAR(36),
  "SYMBOL_STATE_ID" CHAR(36),
  "GATNUM" INTEGER EXTERNAL,
  "ORDER_NUM" INTEGER EXTERNAL
)
