options (skip=1)

-- Block for table: CrossSections
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/CrossSections.csv'
badfile 'CrossSections.bad'
discardfile 'CrossSections.dis'
append
into table "CrossSections"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" INTEGER EXTERNAL,
  "CrossSection" CHAR(2000),
  "Description" CHAR(255),
  "Flags" INTEGER EXTERNAL,
  "Type" INTEGER EXTERNAL
)
