options (skip=1)

-- Block for table: FUNCTION_ATTRIBUTES
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/FUNCTION_ATTRIBUTES.csv'
badfile 'FUNCTION_ATTRIBUTES.bad'
discardfile 'FUNCTION_ATTRIBUTES.dis'
append
into table "FUNCTION_ATTRIBUTES"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "NAME" CHAR(255),
  "ID" INTEGER EXTERNAL,
  "PORT_NUMBER" INTEGER EXTERNAL,
  "ATTRIBUTE_NAME" CHAR(255),
  "COPY" INTEGER EXTERNAL,
  "STATE_ID" CHAR(36),
  "ATTRIBUTE_VALUE" CHAR(255)
)
