options (skip=1)

-- Block for table: PenDefinition
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/PenDefinition.csv'
badfile 'PenDefinition.bad'
discardfile 'PenDefinition.dis'
append
into table "PenDefinition"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "Type" INTEGER EXTERNAL,
  "ColorIndex" INTEGER EXTERNAL,
  "PenStyle" INTEGER EXTERNAL,
  "PenWidth" CHAR(2000)
)
