options (skip=1)

-- Block for table: PinAttribute
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/PinAttribute.csv'
badfile 'PinAttribute.bad'
discardfile 'PinAttribute.dis'
append
into table "PinAttribute"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "PinNumber" INTEGER EXTERNAL,
  "AttributeName" CHAR(80),
  "Copy" INTEGER EXTERNAL,
  "AttributeValue" CHAR(255)
)
