options (skip=1)

-- Block for table: SETTINGS
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/SETTINGS.csv'
badfile 'SETTINGS.bad'
discardfile 'SETTINGS.dis'
append
into table "SETTINGS"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "PARAM" CHAR(255),
  "VALUE" CHAR(255)
)
