options (skip=1)

-- Block for table: SlotAttribute
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/SlotAttribute.csv'
badfile 'SlotAttribute.bad'
discardfile 'SlotAttribute.dis'
append
into table "SlotAttribute"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "Entry" CHAR(255),
  "SlotNumber" INTEGER EXTERNAL,
  "AttributeName" CHAR(80),
  "Copy" INTEGER EXTERNAL,
  "AttributeValue" CHAR(255)
)
