options (skip=1)

-- Block for table: Technology
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/Technology.csv'
badfile 'Technology.bad'
discardfile 'Technology.dis'
append
into table "Technology"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "EntryID" INTEGER EXTERNAL,
  "Description" CHAR(20)
)
