options (skip=1)

-- Block for table: ComponentData
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/ComponentData.csv'
badfile 'ComponentData.bad'
discardfile 'ComponentData.dis'
append
into table "ComponentData"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" CHAR(40),
  "ENTRY" CHAR(255),
  "VERSION" CHAR(4),
  "DeviceLetterCode" CHAR(4),
  "Class" CHAR(80),
  "ENTRYTYP" INTEGER EXTERNAL,
  "Description" CHAR(255),
  "LPNTR" CHAR(255),
  "VSTATUS" CHAR(1),
  "VersionText" CHAR(80),
  "DATEMAIN" DATE "YYYY-MM-DD HH24:MI:SS",
  "LASTUPDT" DATE "YYYY-MM-DD HH24:MI:SS",
  "MPNTR" CHAR(255),
  "Flags" INTEGER EXTERNAL,
  "ArticleNumber" CHAR(80),
  "Supplier" CHAR(80),
  "SPNTR" CHAR(20),
  "SUBTYP" INTEGER EXTERNAL,
  "*Normative_doc" CHAR(255),
  "*Owner" CHAR(80),
  "*SAP_nomer" CHAR(128),
  "Class-main" CHAR(80),
  "TC_ID" CHAR(128)
)
