options (skip=1)

-- Block for table: CR_WIRE_DEFINITIONS
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/CR_WIRE_DEFINITIONS.csv'
badfile 'CR_WIRE_DEFINITIONS.bad'
discardfile 'CR_WIRE_DEFINITIONS.dis'
append
into table "CR_WIRE_DEFINITIONS"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "CRIMPING_RULES_GUID" CHAR(36),
  "INDEX" INTEGER EXTERNAL,
  "MIN_SIZE" CHAR(2000),
  "MAX_SIZE" CHAR(2000)
)
