options (skip=1)

-- Block for table: FAVORITES
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/FAVORITES.csv'
badfile 'FAVORITES.bad'
discardfile 'FAVORITES.dis'
append
into table "FAVORITES"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" INTEGER EXTERNAL,
  "NAME" CHAR(255),
  "TYPE" INTEGER EXTERNAL,
  "SEQUENCE" INTEGER EXTERNAL
)
