options (skip=1)

-- Block for table: LOCKINFO
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/LOCKINFO.csv'
badfile 'LOCKINFO.bad'
discardfile 'LOCKINFO.dis'
append
into table "LOCKINFO"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "VERSION" CHAR(4),
  "TYPE" INTEGER EXTERNAL,
  "USER" CHAR(255),
  "HOST" CHAR(255),
  "PID" INTEGER EXTERNAL,
  "TIME" INTEGER EXTERNAL
)
