options (skip=1)

-- Block for table: Pin
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/Pin.csv'
badfile 'Pin.bad'
discardfile 'Pin.dis'
append
into table "Pin"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "COPY" INTEGER EXTERNAL,
  "PHYSPIN" CHAR(64),
  "FUNCT" INTEGER EXTERNAL,
  "PINEQUIV" INTEGER EXTERNAL,
  "LPINEQV" INTEGER EXTERNAL,
  "PINNAME" CHAR(200),
  "NPINEQV" INTEGER EXTERNAL,
  "Flags" INTEGER EXTERNAL,
  "TPNPRIO" INTEGER EXTERNAL,
  "FLAGS2" INTEGER EXTERNAL
)
