options (skip=1)

-- Block for table: PlugInfo
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/PlugInfo.csv'
badfile 'PlugInfo.bad'
discardfile 'PlugInfo.dis'
append
into table "PlugInfo"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "VERSION" CHAR(4),
  "COPY" INTEGER EXTERNAL,
  "PINCOMP" CHAR(255),
  "ActiveCounterPart" INTEGER EXTERNAL,
  "PINPART" CHAR(255),
  "ActiveFittingPart" INTEGER EXTERNAL,
  "PinNumber" INTEGER EXTERNAL,
  "ActiveWireSeal" INTEGER EXTERNAL
)
