options (skip=1)

-- Block for table: SymbolNodes
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/SymbolNodes.csv'
badfile 'SymbolNodes.bad'
discardfile 'SymbolNodes.dis'
append
into table "SymbolNodes"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "COPY" INTEGER EXTERNAL,
  "LIBNTY" INTEGER EXTERNAL,
  "LIBNX" CHAR(2000),
  "LIBNY" CHAR(2000),
  "LBSTUB" INTEGER EXTERNAL,
  "LBNNUM" INTEGER EXTERNAL,
  "Function" INTEGER EXTERNAL
)
