options (skip=1)

-- Block for table: SymbolDimension
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/SymbolDimension.csv'
badfile 'SymbolDimension.bad'
discardfile 'SymbolDimension.dis'
append
into table "SymbolDimension"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ENTRY" CHAR(255),
  "LSHX1" CHAR(2000),
  "LSHY1" CHAR(2000),
  "LSHX2" CHAR(2000),
  "LSHY2" CHAR(2000)
)
