options (skip=1)

-- Block for table: SymbolData
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/SymbolData.csv'
badfile 'SymbolData.bad'
discardfile 'SymbolData.dis'
append
into table "SymbolData"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ID" CHAR(40),
  "ENTRY" CHAR(255),
  "VERSION" CHAR(4),
  "Norm" INTEGER EXTERNAL,
  "LSHDES" CHAR(4),
  "LSHTYP" INTEGER EXTERNAL,
  "ENTRYTYP" INTEGER EXTERNAL,
  "LPNTR" CHAR(255),
  "VSTATUS" CHAR(1),
  "VersionText" CHAR(80),
  "DATEMAIN" DATE "YYYY-MM-DD HH24:MI:SS",
  "LASTUPDT" DATE "YYYY-MM-DD HH24:MI:SS",
  "Class" CHAR(80),
  "Description" CHAR(255),
  "SYMINDEX" INTEGER EXTERNAL,
  "FLAGS2" INTEGER EXTERNAL,
  "FLAGS" INTEGER EXTERNAL,
  "SUBTYP" INTEGER EXTERNAL,
  "*Owner" CHAR(255),
  "*Normative_doc" CHAR(255),
  "Class-main" CHAR(80)
)
