options (skip=1)

-- Block for table: SYMBOL_FUNCTION
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/SYMBOL_FUNCTION.csv'
badfile 'SYMBOL_FUNCTION.bad'
discardfile 'SYMBOL_FUNCTION.dis'
append
into table "SYMBOL_FUNCTION"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "LPNTR" CHAR(255),
  "LBNNUM" INTEGER EXTERNAL,
  "FUSUBID" INTEGER EXTERNAL,
  "FUNAME" CHAR(255),
  "FUID" INTEGER EXTERNAL,
  "FUPORT" INTEGER EXTERNAL
)
