options (skip=1)

-- Block for table: TwistedPairs
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/TwistedPairs.csv'
badfile 'TwistedPairs.bad'
discardfile 'TwistedPairs.dis'
append
into table "TwistedPairs"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "CrossSection" CHAR(2000),
  "OuterDiameter" CHAR(2000),
  "NumberOfWires" INTEGER EXTERNAL,
  "NumberOfTurns" INTEGER EXTERNAL,
  "TwistedLengthFactor" CHAR(2000)
)
