options (skip=1)

-- Block for table: ValidRetainingRailTypes
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/ValidRetainingRailTypes.csv'
badfile 'ValidRetainingRailTypes.bad'
discardfile 'ValidRetainingRailTypes.dis'
append
into table "ValidRetainingRailTypes"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "Type" INTEGER EXTERNAL,
  "Description" CHAR(255)
)
