options (skip=1)

-- Block for table: WireColorCodes
LOAD DATA
CHARACTERSET AL32UTF8
infile '/opt/oracle/scripts/custom/data/WireColorCodes.csv'
badfile 'WireColorCodes.bad'
discardfile 'WireColorCodes.dis'
append
into table "WireColorCodes"
fields terminated by ',' optionally enclosed by '"'
trailing nullcols
(
  "ColorCode" INTEGER EXTERNAL,
  "Color" INTEGER EXTERNAL,
  "Linetype" INTEGER EXTERNAL,
  "Type" INTEGER EXTERNAL,
  "DESCRIPTION_86" CHAR(255),
  "DESCRIPTION_31" CHAR(255),
  "DESCRIPTION_44" CHAR(255),
  "DESCRIPTION_33" CHAR(255),
  "DESCRIPTION_49" CHAR(255),
  "DESCRIPTION_39" CHAR(255),
  "DESCRIPTION_81" CHAR(255),
  "DESCRIPTION_351" CHAR(255),
  "DESCRIPTION_07" CHAR(255),
  "DESCRIPTION_34" CHAR(255),
  "DESCRIPTION_90" CHAR(255),
  "DESCRIPTION_48" CHAR(255)
)
